# Ignorer les fichiers de configuration sensibles
config/*.txt

# Ignorer les fichiers de logs
logs/
*.log

# Ignorer les fichiers spécifiques à l'environnement local
.env
.DS_Store

# Ignorer le fichier contenant les configurations Git (pour des raisons de sécurité)
bin/git_config_profile.cmd