@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: "Montserrat", sans-serif;
  --color-light-bg: #fdfcf8; /* Base claire */
  --color-dark-bg: #24201d; /* Base sombre */
  --color-light-text: #24201d; /* Texte sur fond clair */
  --color-dark-text: #fdfcf8; /* Texte sur fond sombre */
  --color-primary-green: #092d1d; /* Couleur principale (menu et footer par exemple) */
  --color-light-green: #485b51; /* Couleur secondaire pour fond clair */
  --color-dark-green: #94baa7; /* Couleur secondaire pour fond sombre */
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .scrollbar-discret::-webkit-scrollbar {
    height: 4px;
  }
  .scrollbar-discret::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-discret::-webkit-scrollbar-thumb {
    background: rgba(107, 114, 128, 0.5); /* gray-500/50 */
    border-radius: 9999px;
    transition: background-color 0.2s;
  }
  .scrollbar-discret::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 114, 128, 0.8); /* gray-500/80 */
  }
  .scrollbar-discret {
    scrollbar-width: thin;
    scrollbar-color: rgba(107, 114, 128, 0.5) transparent;
  }
}

/* Obfuscation CSS */
@layer components {
  .protected-email {
    font-size: 0;
  }

  .protected-email::before {
    content: attr(data-email-user) "@" attr(data-email-domain);
    font-size: 0.875rem; /* text-sm */
  }
}

html {
  scroll-behavior: smooth;
}
