@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  --font-family: "Montserrat", sans-serif;
}

@layer utilities {
  .scrollbar-discret::-webkit-scrollbar {
    height: 4px;
  }
  .scrollbar-discret::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-discret::-webkit-scrollbar-thumb {
    background: rgba(107, 114, 128, 0.5); /* gray-500/50 */
    border-radius: 9999px;
    transition: background-color 0.2s;
  }
  .scrollbar-discret::-webkit-scrollbar-thumb:hover {
    background: rgba(107, 114, 128, 0.8); /* gray-500/80 */
  }
  .scrollbar-discret {
    scrollbar-width: thin;
    scrollbar-color: rgba(107, 114, 128, 0.5) transparent;
  }
}

html {
  scroll-behavior: smooth;
}
